body{
background:#f5f5dc;
font-family:Arial;
}

header{
background:#4a148c;
color:white;
padding:15px;
text-align:center;
}

nav a{
color:white;
text-decoration:none;
margin:10px;
}

button{
background:orange;
color:white;
padding:10px;
border:none;
}